# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Distribution / packaging
dist/

# Byte-compiled / optimized / DLL files
brain_games/__pycache__
__pycache__/
__pycache__



